<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <div class="navbar-item" hidden></div>
            <a class="navbar-item" href="/">
                <img src="../../static/images/logo_vertical.png" width="120" height="56">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu ">
            <div class="navbar-end">

                <a class="navbar-item" href="/">
                    首页
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        工具
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/timestamp">
                            时间戳
                        </a>
                        <a class="navbar-item" href="/json">
                            json格式化
                        </a>
                        <hr class="navbar-divider">

                        <a class="navbar-item" href="/paste">
                            粘贴板
                        </a>
                        <a class="navbar-item">
                            二维码生成器
                        </a>
                    </div>
                </div>

                <a class="navbar-item">
                    关于
                </a>


                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" onclick="notSupport()">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" onclick="notSupport()">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
            <!--
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-primary">
                                        <strong>Sign up</strong>
                                    </a>
                                    <a class="button is-light">
                                        Log in
                                    </a>
                                </div>
                            </div>
                        </div>-->
        </div>
    </div>
</nav>


<!--<header class="nav-header">-->
<!--    <div class="header-home">-->
<!--        <a href="/">-->
<!--            Home-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="header-li">工具</div>-->
<!--    <div class="header-li">收藏</div>-->
<!--    <div class="header-li">关于</div>-->

<!--    <div class="header-li" style="width: 100px"></div>-->
<!--</header>-->

