<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <div class="navbar-item" hidden></div>
            <a class="" href="/" style="margin-top: 10px">
                <img src="../../static/images/logo-hor.png" width="120" height="56">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu ">
            <div class="navbar-end">

                <a class="navbar-item white" href="/">
                    首页
                </a>

                <a class="navbar-item white ip-scan-cancel">
                    IP段扫描
                </a>

                <a class="navbar-item white port-scan-cancel">
                    端口扫描
                </a>

                <a class="navbar-item white domain-scan-cancel">
                    子域名扫描
                </a>

                <a class="navbar-item white dis-set-cancel" href="/disSet">
                    分布式设置
                </a>


                <div class="navbar-item">

                </div>
            </div>
            <!--
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-primary">
                                        <strong>Sign up</strong>
                                    </a>
                                    <a class="button is-light">
                                        Log in
                                    </a>
                                </div>
                            </div>
                        </div>-->
        </div>


        <div class="ip-scan modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">IP段扫描</p>
                    <button class="delete ip-scan-cancel" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                    <label>
                        请输入IP区间段：
                        <input class="input ip-input" placeholder="114.115.157.1-100">
                    </label>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success ip-submit">开始扫描</button>
                    <button class="button ip-scan-cancel">取消</button>
                </footer>
            </div>
        </div>

        <div class="port-scan modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">端口扫描</p>
                    <button class="delete port-scan-cancel" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                    <label>
                        请输入IP或域名：
                        <input class="input port-input-ip" placeholder="114.115.157.55">
                    </label>
                    <label>
                        请输入端口范围：
                        <input class="input port-input-ports" placeholder="1-200">
                    </label>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success port-submit">开始扫描</button>
                    <button class="button port-scan-cancel">取消</button>
                </footer>
            </div>
        </div>

        <div class="domain-scan modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">子域名扫描</p>
                    <button class="delete domain-scan-cancel" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                    <label>
                        请输入域名：
                        <input class="input domain-input" placeholder="asche.top">
                    </label>

                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success domain-submit">开始扫描</button>
                    <button class="button domain-scan-cancel">取消</button>
                </footer>
            </div>
        </div>

        <div class="dis-set modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">分布式设置</p>
                    <button class="delete dis-set-cancel" aria-label="close"></button>
                </header>
                <section class="modal-card-body">

                    <label>
                        请输入master地址：
                        <input class="input" placeholder="https://asche.top:8080">
                    </label>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success dis-set-cancel">保存</button>
                    <button class="button dis-set-cancel">取消</button>
                </footer>
            </div>
        </div>

    </div>
</nav>


<!--<header class="nav-header">-->
<!--    <div class="header-home">-->
<!--        <a href="/">-->
<!--            Home-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="header-li">工具</div>-->
<!--    <div class="header-li">收藏</div>-->
<!--    <div class="header-li">关于</div>-->

<!--    <div class="header-li" style="width: 100px"></div>-->
<!--</header>-->

