<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperScanner-超级扫描器</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/common/common.css">

    <script src="../static/js/cdn/jquery.min.js"></script>
    <script src="../static/js/common/common.js"></script>
</head>
<style>

    html, body {
        height: 100%;
        background-color: #1f222a;
    }
</style>
<body>

<section class="hero  is-large">

    <div class="hero-head">

        {{ template "header.html" }}
    </div>


    <div class="hero-body ">
        <div class="container has-text-centered">
            <p class="title">
                <a href="/">
                    SupperScanner
                </a>
            </p>

            <div class="has-text-centered">

                <div class="field has-addons" style="width: 400px; margin-left: auto; margin-right: auto">

                    <div class="control" style="width: 400px">
                        <input class="input is-primary is-normal home-input" type="text" placeholder="example.com"
                               width="300px">

                    </div>

                    <div class="control">

                        <a class="button is-info home-submit" >Go</a>
                        <!--                        <span class="icon is-right " onclick="alert(666)"-->
                        <!--                              style="background-color: dodgerblue; color: white">-->
                        <!--                            <i class="fas fa-check home-submit">Go</i>-->
                        <!--                            <label>Go</label>-->
                        <!--                        </span>-->
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="hero-foot">

        {{ template "footer.html" }}
    </div>

</section>
</body>
</html>