<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperScanner-超级扫描器</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script src="../static/js/cdn/jquery.min.js"></script>
    <script src="../static/js/common/common.js"></script>
</head>
<style>

    html, body {
        height: 100%;
        background-color: #1f222a;
    }
</style>
<body>

<section class="hero  is-large">

    <div class="hero-head">

        {{ template "header.html" }}
    </div>


    <div class="hero-body ">
        <div class="container has-text-centered">
            <p class="title">
                <a href="/">
                    SupperScanner
                </a>
            </p>

            <div class="has-text-centered">

                <div style="width: 400px; margin-left: auto; margin-right: auto">

                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-primary is-normal" type="text" placeholder="https://example.com"
                               width="100px">

                        <span class="icon is-right">
    <i class="fas fa-check"></i>
  </span>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="hero-foot">

        {{ template "footer.html" }}
    </div>

</section>
</body>
</html>