<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperScanner-超级扫描器</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/common/common.css">

    <script src="../static/js/cdn/jquery.min.js"></script>
    <script src="../static/js/common/common.js"></script>
</head>
<body>

<div style="background-color: darkgray; height: 400px; padding: 5% 0;">
    <div style="width: 400px; background-color: dodgerblue; padding: 5% 0;">
        hello,world!
    </div>

</div>
</body>
</html>